@import url('https://fonts.googleapis.com/css?family=Open+Sans:300i,400');

* {
  box-sizing: border-box;
  background-color: #ffe123;
}

/* navbar */
nav {
  position: fixed;
  margin-top: 1vw;
  height: auto;
  width: 100%;
  z-index: 1;
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
}

nav img {
  margin-left: 3vh;
  height: 70px;
  width: 95px;
  background-color: transparent;
}

nav span {
  background-color: transparent;
}

nav .dropdown {
  position: relative;
  display: inline-block;
  background-color: transparent;
  margin-right: 40px;
  }

nav .dropbtn {
  /* Use Flexbox to space out*/
  color: #000000;
  margin-left: 3vh;
  margin-right: 3vh;
  background-color: transparent;
}

nav .dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
}

nav .dropdown-content a {
  text-decoration: none;
  color: #000000;
  display: block;
  text-align: center;
  margin-left: 3vh;
  margin-right: 3vh;
  background-color: transparent;
}

nav .dropbtn:hover {
  /* Smooth out transition */
  letter-spacing: 8px;
  background-color: transparent;
  
}

nav .dropdown:hover .dropdown-content {
  display: block;
  background-color: transparent;
}

nav .dropdown .dropdown-content a:hover {
  letter-spacing: 8px;
}

nav .trial {
  text-align: center;
  float: right;
  margin-right: 3vh;
  background-color: transparent;
  font-size: 15px;
}

nav .trial a{
  text-decoration: none;
  color: black;
  font-weight: 900;
  display: inline-block;
  *display: inline; /* Used to get IE 6 & 7 to behave */
  zoom: 1; /* Used to get IE 6 & 7 to behave */
  -webkit-transform: rotate(-15deg); 
  -moz-transform: rotate(-15deg); 
  -ms-transform: rotate(-15deg); 
  -o-transform: rotate(-15deg);  
  transform: rotate(-15deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0);
  background-color: transparent;
}

#myVideo {
  position: relative;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
}